
body {
    font-family: 'Poppins', sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #34495e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin:  0 20px;
}
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
input[type="file"] {
    display: block;
    margin: 0 auto 20px auto;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #34495e;
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    transition: background-color 0.3s;
}
input[type="file"]:hover {
    background-color: #bdc3c7;
}
.output {
    margin-top: 20px;
    text-align: left;
}
.output label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}
.output textarea {
    width:95%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    color: #2c3e50;
    background-color: #ecf0f1;
    resize: none;
}
.output textarea:focus {
    outline: none;
}
.buttons {
    margin-top: 10px;
}
.buttons button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.buttons button:hover {
    background-color: #2980b9;
}
.buttons button.enabled {
    background-color: #2ecc71;
}
.buttons button.loading {
    background-color: #f0f0f0;
    cursor: not-allowed;
}
.buttons button.disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}
.buttons button.copied {
    background-color: #2ecc71;
}
#copyButton{
    cursor: pointer;
}
#copyButton:hover{
    background-color: #2ecc71;
}
.preview-container {
    margin-top: 30px;
    text-align: center;
}
.status {
    text-align: center;
    margin-bottom: 10px;
}
img {
    margin: 0 auto;
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    display: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
